@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');



.Header {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;

}


li,
p,
button {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:900px) {
    
    .Service {
        margin-top: 50px;
    }

}


.serviceLogo1 {
    width: 300px;
    height: 74px;
    margin: 25px 0;
}

.serviceHead2 {
    font-size: 24px;
}

.Service p {
    color: #666666;
    font-size: 16px;
    margin: 20px 0;
}

.serviceCards {
    width: 300px;
    height: auto;
}

.servUl li {
    font-size: 16px;
    color: #000000;
    margin-left: 22px;
    list-style-type: square;
    line-height: 35px;
    font-size: 16px;
}

@media screen and (min-width:320px) and (max-width:499px){

    .serviceHead2 {
        font-size: 22px;
    }

    .serviceCards p{
     font-size: 15px;
}

.serviceCards li{
    font-size: 15px;
}

.serviceLogo1 {

    margin: 0 0;
}

    


}