@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');



.Header {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;

}


li,
p,
button {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Roboto', sans-serif;
}


.BlogCards {
    width: 90%;
    height: auto;
    color: #000000;
    margin-top: 50px;
}

.blogTime {
    width: auto;
    font-size: 15px;
    color: #FFFFFFB2;
}


.BlogCards h4 {
    margin: 20px 0;
    font-size: 23px;
    color: #FFFFFF;
}

.articleBlog {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.articleBlog h5 {
    margin-right: 10px;
    font-size: 18px;
}


@media screen and (min-width:320px) and (max-width:499px) {

  
    
    .blogTime {
        font-size: 13px;
    }
    
    
    .BlogCards h4 {
        font-size: 16.5px;   
    }
    

    
    .articleBlog h5 {
        font-size: 14.5px;
    }

}
