@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');



.Header {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;

}


li,
p,
button {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Roboto', sans-serif;
}


.DesignCard {
    width: auto;
    height: auto;
    background-color: #ddd;
    margin-right: 20px;
    box-shadow: 3px 3px 10px 3px black;
    flex-grow: 1;
    flex-basis: 250px;
    margin-top: 25px;
}



.designImg {
    width: 100%;
    height: 200px;
}

.designImg img {
    width: 100%;
    height: 200px;
}

.designBody {
    width: 100%;
    height: auto;
    padding: 15px;
}

.designBody h5 {
    color: #3C46FF;
    font-size: 12px;
    letter-spacing: 4px;

}

.designBody h3 {
    color: #000000;
    font-size: 24px;
    margin-top: 10px;
}

.viewProj {
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.viewProj p {
    margin-right: 10px;
}